@model MovieVM

<link rel="stylesheet" href="~/css/moviehome.css" />

<div class="home_page col-12">
    <div class="home_page_content col-10">
        @foreach (var item in Model.Movies)
        {
            <div class="movie_box">
                <div class="movie_title col-12">
                    <h5 class="title_h4">@item.Name</h5>
                </div>
                <div class="movie_profile col-12">
                    @* left_image starts *@
                    <div class="left">
                        <div class="movie_profile_img" style="background-image:url('@Url.Content("~/images/"+item.ImgUrl)')"></div>
                        <div class="remain"></div>
                    </div>
                    @* left_image ends *@
                    @* right detail starts *@
                    <div class="all_detail">
                        @* upper right detail starts *@
                        <div class="movie_detail">
                            <div class="price">
                                <p class="detail_name">Price:</p>
                                <p class="p_price">@item.Price</p>
                            </div>
                            <a href="/CinemaDetail/Index/@item.cinema.Id" class="cinema_link"><p>Cinema: @item.cinema.Name</p></a>
                            <p class="detail_name">Start Date: @item.StartDate</p>
                            <p class="detail_name">End Date: @item.EndDate</p>
                            <div class="movie_category">
                                <p class="detail_name">Category: </p>
                                <a href="/CategoryDetail/Index/@item.category.Id" class="a_category">@item.category.Name</a>
                            </div>
                            @if (item.Status == MovieStatus.Expired)
                            {
                                <p class="sign_expire">@item.Status</p>
                            }
                            else if (item.Status == MovieStatus.Upcoming)
                            {
                                <p class="sign_upcoming">@item.Status</p>
                            }
                            else if (item.Status == MovieStatus.Available)
                            {
                                <p class="sign_avail">@item.Status</p>
                            }

                        </div>
                        @* upper right detail ends *@
                        @* down right detail starts *@
                        <div class="lower_buttons">
                            <a href="/MovieDetail/Index/@item.Id" class="a_details">More Details</a>
                            @if (item.Status == MovieStatus.Upcoming || item.Status == MovieStatus.Expired)
                            {
                                <button class="btn_lock">Book Ticket</button>
                            }
                            else
                            {
                                <a asp-action="Book" asp-route-id="@item.Id" class="a_booking">Book Ticket</a>
                            }
                        </div>
                        @* down right detail ends *@
                    </div>
                    @* right detail ends *@
                </div>
            </div>
        }
        @* pagination *@
        @if (Model.TotalPages <= 1)
        {

        }
        else if (Model.TotalPages > 1)
        {
            <div style="padding-top: 1rem;">
                <ul class="pagination pagination-sm all_paginations">
                    @if (Model.Pagination == 1)
                    {
                        <li class="page-item">
                            <a class="previous_pagination" style="display:none">&laquo;</a>
                        </li>
                    }
                    else if (Model.Pagination > 1)
                    {
                        <li class="page-item">
                            <a class="previous_pagination" asp-action="Index" asp-route-pagination="@(Model.Pagination-1)">&laquo;</a>
                        </li>
                    }
                    @if ((Model.Pagination - 2) < 1 && (Model.Pagination + 2) > Model.TotalPages)
                    {
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if (i == Model.Pagination)
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i" style="background-color:#1313ff;color:white !important;">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i">@i</a>
                                </li>
                            }
                        }
                    }
                    else if ((Model.Pagination - 2) < 1)
                    {
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if (i == Model.Pagination)
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i" style="background-color:#1313ff;color:white !important;">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <p class="pagination_num_no">...</p>
                        </li>

                        <li class="page-item">
                            <a class="pagination_num" asp-action="Index" asp-route-pagination="@Model.TotalPages">@Model.TotalPages</a>
                        </li>
                    }
                    else if ((Model.Pagination - 2) >= 1 && (Model.Pagination + 2) <= Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="pagination_num" asp-action="Index" asp-route-pagination="1">1</a>
                        </li>

                        <li class="page-item">
                            <p class="pagination_num_no">...</p>
                        </li>

                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if (i == Model.Pagination)
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i" style="background-color:#1313ff;color:white !important;">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <p class="pagination_num_no">...</p>
                        </li>

                        <li class="page-item">
                            <a class="pagination_num" asp-action="Index" asp-route-pagination="@Model.TotalPages">@Model.TotalPages</a>
                        </li>
                    }
                    else if ((Model.Pagination + 2) > Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="pagination_num" asp-action="Index" asp-route-pagination="1">1</a>
                        </li>

                        <li class="page-item">
                            <p class="pagination_num_no">...</p>
                        </li>

                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if (i == Model.Pagination)
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i" style="background-color:#1313ff;color:white !important;">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="pagination_num" asp-action="Index" asp-route-pagination="@i">@i</a>
                                </li>
                            }
                        }
                    }

                    @if (Model.Pagination >= Model.TotalPages)
                    {
                        <li class="page-item" style="display:none">
                            <a class="next_pagination" href="#">&raquo;</a>
                        </li>
                    }
                    else if (Model.Pagination < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="next_pagination" asp-action="Index" asp-route-pagination="@(Model.Pagination+1)">&raquo;</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<style>
    .all_paginations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: baseline;
        gap: 0.5rem;
    }

    .previous_pagination {
        color: black !important;
        text-decoration: none;
        background-color: #c3c3c9;
        font-size: 1.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        border-radius: 50%;
        padding-top: 0.2rem;
        transition: all 200ms ease;
    }

        .previous_pagination:hover {
            background-color: #e2e2e2;
        }

    .pagination_num {
        color: black !important;
        text-decoration: none;
        background-color: #c3c3c9;
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.6rem 1rem;
        transition: all 200ms ease;
    }

        .pagination_num:hover {
            background-color: #e2e2e2;
        }

    .next_pagination {
        color: black !important;
        text-decoration: none;
        background-color: #c3c3c9;
        font-size: 1.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        border-radius: 50%;
        padding-top: 0.2rem;
        transition: all 200ms ease;
    }

        .next_pagination:hover {
            background-color: #e2e2e2;
        }

    .pagination_num_no {
        color: black !important;
        text-decoration: none;
        background-color: #c3c3c9;
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.6rem 1rem;
        transition: all 200ms ease;
    }

    .a_booking {
        text-decoration: none !important;
        color: white !important;
        background-color: #156815;
        padding: 0.3rem 0.5rem;
        border: solid 2px #156815;
        border-radius: 5px;
        transition: all ease 100ms;
    }

        .a_booking:hover {
            color: white !important;
            text-decoration: none !important;
            background-color: #0d370d;
            border: solid 2px #0d370d;
        }

</style>
@section Scripts {
    @if (TempData["Success"] != null)
    {
        <script>
            toastr.success('@TempData["Success"]');
        </script>
    }
    @if (TempData["Fail"] != null)
    {
        <script>
            toastr.error('@TempData["Fail"]');
        </script>
    }
}